/*
 * Base structure
 */

/* load Open Sans Font from local */
@import url(../font/font.css);
 
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


/*custom css*/

/*datatables style*/
div.dataTables_length {
    position: relative;
    top: 15px;
}

.main .tagContainer {
    padding: 3px 5px 3px 5px;
    margin: 3px 0 3px 5px;
    position: relative;
    color: #fff;
    cursor: default;
    border-radius: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #3cc051;
    float: left;
}
.main .tagContainer .tagLabel {
    margin-right: 5px;
}

.main .tagContainer .close {
    display: inline-block;
    margin-top: 0px;
    margin-right: 0px;
    width: 9px;
    height: 9px;
    background-repeat: no-repeat !important;
    text-indent: -10000px;
    outline: none;
    background-image: url("../img/remove-icon-small.png") !important;
    float: none;
}
.main .newTagContainer {
	padding: 2px 5px;
    margin: 3px 0 3px 5px;
    position: relative;
    color: #fff;
    cursor: default;
    border-radius: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* float: right; */
	float: left;
}

.main .newTagContainer .addNewTag {
    display: inline-block;
	margin-top: 0px;
	margin-right: 0px;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat !important;
	text-indent: -10000px;
	outline: none;
	background-image: url("../img/tag_orange_add.png") !important;
	float: none;
	touch-action: manipulation;
	filter: alpha(opacity=70);
	opacity: .7;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
}

.main .newTagContainer .addNewTag:hover,  .main .newTagContainer .addNewTag:focus{
	color: #000;
	text-decoration: none;
	cursor: pointer;
	filter: alpha(opacity=90);
	opacity: .9;
	
	/* outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px; */
}

div.toolZone {
	padding: 20px 0 10px;
    color: inherit;
    background-color: #eee;
}
	
.toolZone-form {
	margin: 0 40px;
}

.toolZone-form.form-inline .form-group, .toolZone-form.form-inline .toolZone-btn{
	margin-bottom: 10px;
}